@page "/projects/{projectId:int}/tickets"

@inject ITicketScreenUseCases TicketsScreenUseCases

    <h3>Tickets</h3>

@if (tickets!=null)
{
    <ul>
        @foreach (var ticket in tickets)
        {
        <li>
            @ticket.Title
        </li>
        }
    </ul>
}

@code {

    IEnumerable<Ticket> tickets;

    //to bind the id from the route to this property param
    [Parameter]
    public int ProjectId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        tickets = await TicketsScreenUseCases.ViewTickets(ProjectId);
    }


}
